body {
  margin: 0;
  padding: 0;
  background: #0d124aff;
  font-family: "Edu QLD Hand", cursive;

  color: #f7f4fdff;
}

main {
  display: flex;
  flex-direction: column;
}
#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Startorch_Academy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
}

#main-heading {
  color: #0d124aff;
  font-size: 70px;
  text-shadow: 0 0 6px white;
}
#main-para {
  font-size: 35px;
  text-shadow: 0 0 6px white;
  color: #0d124aff;
  font-weight: 600;
}

#activities-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5f62b7ff;
  padding: 1rem;
}

.activity-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#tour-guide-section {
  display: flex;
  padding: 5rem;
  align-self: center;
  gap: 2rem;
  background-color: #fde6faff;
  color: #0d124aff;
  max-width: 500px;
  margin: 3rem;
  border-radius: 2rem;
  text-align: center;
}

#tour-guide-img {
  height: 400px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid #5f62b7ff;
}

#guide-heading {
  font-size: 30px;
}

#roya-frostlands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roya-img {
  height: 500px;
  width: 500px;
}

.roya-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

#thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.thank-img {
  height: 300px;
  width: 300px;
}

img {
  opacity: 50%;
}

img:hover {
  opacity: 100%;
}
